<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>统一建模语言理论测试</title>
  </head>
  <body>
    <form method="post" action="/" >
        <h1>统一建模语言理论测试</h1>
        <section>
            <input>
        </section>
    </form>
  </body>
</html>