<section>
  <section>
    <h4>一&nbsp填空题（每空5分，共20分）</h4>
  </section>
  <section>
    <% topics.forEach(function(topic,i){%>
      <label><%= i+1%>.<%= topic.question%></label>
      <% for(var k =0; k < topic.answer.length; k++) {%>
        <input type = "text" name = <%= topic.name %> value=<%= topic.input %>>
      <%}%>
    <%})%>
  </section>
</section>