<section>
  <section>
    <h4>一 填空题（每空5分，共20分）</h4>
  </section>
  <section>
    <label>1.UML 的中文全称是:<input  type = "text" name = "fill1"></label>
    <label>2. 对象最突出的特征是:</label>
    <input  type = "text" name = "fill2" value=<%= data%>>
    <input  type = "text" name = "fill2">
    <input  type = "text" name = "fill2">
  </section>
</section>