<h1>统一建模语言理论测试</h1>
<section>

  <section class="panel panel-default">
    <section class="panel-body">
      <section>
        <label class="col-md-4">考试科目:统一建模语言UML</label>
        <label class="col-md-4">时间:100分钟</label>
        <label class="col-md-2">得分：</label>
        <p class="text-danger text-left"><%= score %></p>
      </section>

      <section>
        <label class="col-md-4">班级：<input type="text" name="class" id="class" value=<%= Class %>></label>
        <label class="col-md-4">学号：<input type="text" name="number" id="number" value=<%= Number %>></label>
        <label class="col-md-4">姓名：<input type="text" name="name" id="name" value=<%= Name %>></label>
      </section>
    </section>
  </section>
</section>