<section class="panel panel-default">
  <section class="panel-heading">
    <h4>三&nbsp多选题(每题10分 共20分)</h4>
  </section>
  <section class="panel-body">
    <section>
      &nbsp&nbsp<label class="col-md-12">1.用户的粒度分为以下哪三种</label>
      &nbsp&nbsp&nbsp&nbsp<label ><input name="multi_choice1" type="checkbox"  value="A" >(A)&nbsp概述级</label>
      &nbsp&nbsp&nbsp&nbsp<label ><input name="multi_choice1" type="checkbox"  value="B" >(B)&nbsp需求级</label>
      &nbsp&nbsp&nbsp&nbsp<label ><input name="multi_choice1" type="checkbox"  value="C" >(C)&nbsp用户目标级</label>
      &nbsp&nbsp&nbsp&nbsp<label ><input name="multi_choice1" type="checkbox"  value="D" >(D)&nbsp子功能级</label>
    </section>
    <section>
      &nbsp&nbsp<label class="col-md-12">2.类图由以下哪三部分组成</label>
      &nbsp&nbsp&nbsp&nbsp<label ><input name="multi_choice2" type="checkbox"  value="A" >(A)&nbsp名称(Name)</label>
      &nbsp&nbsp&nbsp&nbsp<label ><input name="multi_choice2" type="checkbox"  value="B" >(B)&nbsp属性(Attribute)</label>
      &nbsp&nbsp&nbsp&nbsp<label ><input name="multi_choice2" type="checkbox"  value="C" >(C)&nbsp操作(Operation)</label>
      &nbsp&nbsp&nbsp&nbsp<label ><input name="multi_choice2" type="checkbox"  value="D" >(D)&nbsp方法(Function)</label>
    </section>
  </section>
</section>