<section >
  <section >
    <h4>五 简答题(每题30分 共30分)</h4>
  </section>
  <section >
    <section>
      <label>&nbsp&nbsp1. 简述什么是模型以及模型的表现形式?</label>
    </section>
    <section>
      &nbsp&nbsp<textarea class="form-control" rows="4" cols="70" name="shortAnswer1"></textarea>
    </section>
  </section>
</section>