<section>
  <section >
    <h4>四&nbsp判断题(每题10分 共20分)</h4>
  </section>
  <section>
    <section>
      <label>&nbsp&nbsp1. 用例图只是用于和客户交流和沟通的,用于确定需求。</label>
      <span >V</span>
      <input name="judge1" type="radio" value="V" >
      <span>X</span>
      <input name="judge1" type="radio" value="X" >
    </section>
    <section>
      <label>&nbsp&nbsp2. 在状态图中,终止状态在一个状态图中允许有任意多个。</label>
      <span >V</span>
      <input name="judge2" type="radio" value="V"/>
      <span >X</span>
      <input name="judge2" type="radio" value="X" />
    </section>
  </section>
</section>