<section>
  <section >
    <h4>四&nbsp判断题(每题10分 共20分)</h4>
  </section>
  <section>
    <% topics.forEach(function(topic,i){%>
    <section>
      <label ><%= i+1%>.<%= topic.question%></label>
      <% for(var index in topic.options) {%>
        <% if(index==="yes"){%>
        <span >V</span>
        <%}%>
        <% if(index==="no"){%>
        <span >X</span>
        <%}%>
        <input name=<%= topic.name%> type="radio"  value=<%= index%> <% if(topic.input.indexOf(index)!== -1){%>checked="checked"<%}%> >
      <%}%>
    </section>
    <% }) %>
  </section>
</section>